In [2]:
import pandas as pd

# GOAL: Combine dataframes and get data in "tidy" format

c:\Users\clair\anaconda3\Lib\site-packages\pandas\core\arrays\masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

In [21]:
# Hallways

# Load data
hallway1 = pd.read_csv("../data/hallway1.csv")
hallway2 = pd.read_csv("../data/hallway2.csv")
hallway3 = pd.read_csv("../data/hallway3.csv")

# Drop first row (labels)
hallway1 = hallway1.drop(0)
hallway2 = hallway2.drop(0)
hallway3 = hallway3.drop(0)

# Convert to time series
hallway1 = hallway1.set_index('time')

# Combine dataframes based on time index

all_hallways = pd.concat([hallway1, hallway2], axis = 0)
all_hallways = pd.concat([all_hallways,hallway3], axis = 0)
all_hallways = all_hallways.drop(all_hallways.columns[0], axis = 1)
all_hallways = all_hallways.drop(all_hallways.columns[1], axis = 1)

In [17]:
all_hallways

,events,soc,cvip,cpu,gpu,5v_sys,nvme_pwr1,nvme_pwr3,nvme_pwr2,wlan,...,THERM_TOT_PWR-throttle,Tboard_soc1tmp,Tdiode_soc1tmp,battery,chrgr,ddr1,ddr2,mem,mero2,vrm
1,NaN,1140000,1649000,731000,105000,6232000,79000,32000,11000,159000,...,25000000,118.4,114.8,91.4,112.775,117.05,115.1366,110.4116,118.0616,115.25
2,NaN,1408000,2138000,1078000,5465000,6232000,10000,32000,11000,159000,...,25000000,118.4,114.8,91.4,112.775,117.05,115.1366,110.4116,118.0616,115.25
3,NaN,1198000,1710000,751000,105000,6263000,20000,32000,11000,214000,...,25000000,118.4,114.8,91.4,112.8866,117.1616,115.1366,110.4116,118.175,115.25
4,NaN,1309000,1378000,740000,105000,6263000,10000,32000,11000,214000,...,25000000,118.4,114.8,91.4,112.8866,117.1616,115.1366,110.4116,118.175,115.25
5,NaN,914000,2194000,670000,105000,6263000,20000,32000,11000,214000,...,25000000,118.4,114.8,91.4,112.8866,117.1616,115.1366,110.4116,118.175,115.25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
658,NaN,1189000,1971000,847000,858000,6464000,30000,14000,4000,243000,...,25000000,122,119.75,78.8,115.1366,122.45,120.2,113.5616,121.8866,118.4
659,NaN,1129000,2161000,670000,670000,6411000,30000,14000,11000,243000,...,25000000,122,119.75,78.8,115.25,122.45,120.3116,113.5616,122,118.5116
660,NaN,1189000,2351000,1645000,935000,6411000,20000,14000,11000,222000,...,25000000,122,119.75,78.8,115.25,122.45,120.3116,113.5616,122,118.5116
661,NaN,968000,1639000,819000,398000,6316000,20000,35000,11000,222000,...,25000000,122,119.75,78.8,115.25,122.45,120.3116,113.5616,122,118.5116
662,NaN,1028000,2138000,691000,3727000,6316000,20000,81000,11000,206000,...,25000000,122,119.75,78.8,115.25,122.45,120.3116,113.5616,122,118.5116

In [ ]:
# Chair

openchair1 = pd.read_csv("../data/openchair1.csv")
openchair1 = openchair1.drop(0)
openchair2 = pd.read_csv("../data/openchair2.csv")
openchair2 = openchair2.drop(0)
openchair3 = pd.read_csv("../data/openchair3.csv")
openchair3 = openchair3.drop(0)

all_open_chairs = pd.concat([openchair1, openchair2], axis = 0)
all_open_chairs = pd.concat([all_open_chairs, openchair3], axis = 0)
# all_open_chairs = all_open_chairs.drop(all_open_chairs[0], axis = 1) # This line is not working on my end
# all_open_chairs = all_open_chairs.drop(all_open_chairs[1], axis = 1)

KeyError: 0

In [8]:
# Blinds
mrblinds1 = pd.read_csv("../data/mrblinds1.csv")
mrblinds1 = mrblinds1.drop(0)
mrblinds2 = pd.read_csv("../data/mrblinds2.csv")
mrblinds2 = mrblinds2.drop(0)
mrblinds3 = pd.read_csv("../data/mrblinds3.csv")
mrblinds3 = mrblinds3.drop(0)

all_mr_blinds = pd.concat([mrblinds1, mrblinds2], axis=0)
all_mr_blinds = pd.concat([all_mr_blinds, mrblinds3], axis = 0)
# all_mr_blinds = all_mr_blinds.drop(all_mr_blinds[0], axis = 1) # Also not working
# all_mr_blinds = all_mr_blinds.drop(all_mr_blinds[1], axis = 1)

In [12]:
# Windows
mrwindows1 = pd.read_csv("../data/mrwindows1.csv")
mrwindows1 = mrwindows1.drop(0)
mrwindows2 = pd.read_csv("../data/mrwindows2.csv")
mrwindows2 = mrwindows2.drop(0)
mrwindows3 = pd.read_csv("../data/mrwindows3.csv")
mrwindows3 = mrwindows3.drop(0)

all_mr_windows = pd.concat([mrwindows1, mrwindows2], axis = 0)
all_mr_windows = pd.concat([all_mr_windows, mrwindows3], axis = 0)
# all_mr_windows = all_mr_windows.drop(all_mr_windows[0], axis = 1)
# all_mr_windows = all_mr_windows.drop(all_mr_windows[1], axis = 1)